{
  // 画像情報があるディレクトリ
  input: {
    data_path: "/data_path",
    labels_path: "/labels_path",
    // https://voxel51.com/docs/fiftyone/recipes/convert_datasets.html#The-fiftyone-convert-command を参照
    // VOCDetectionDataset
    // COCODetectionDataset
    // KITTIDetectionDataset
    dataset_type: "VOCDetectionDataset",
  },
  // 吐き出されるディレクトリ
  export: {
    data_path: "dist",
    labels_path: "exportedLabels",
    dataset_type: "KITTIDetectionDataset",
    label_field: "ground_truth",
  },
  launch_app: {
    address: "0.0.0.0",
    port: 5678
  },
}
